
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Todo";
}
@section scripts
    {
    <script src="~/todo/home/index.js" asp-append-version="true"></script>
}

<img src="~/todo/user.png" />
<h2>Home in area</h2>
<div id="status">Index.js运行异常</div>

