<div class="welcome-page">
    <div class="row page-header">
        <div class="col-sm-10">
            <h1>
                <img class="icon" src="~/passport/icon.jpg">
                欢迎使用CMS 认证服务
                @*<small>(build {version})</small>*@
            </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-8">
            <p>
                认证发布<a href="~/.well-known/openid-configuration">发现文档</a>，您可以在其中找到元数据和所有端点链接，关键信息等。
            </p>
        </div>
        <div class="col-sm-8">
            <p>
                已经通过的授权点击 <a href="~/passport/grants">这里</a> 管理.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <p>
                这里连接到
                <a href="https://github.com/identityserver/IdentityServer4">认证服务源码</a>,
                和 <a href="https://github.com/identityserver/IdentityServer4.Samples">使用示例</a>.
            </p>
        </div>
    </div>
</div>
